<header>
  <div class="header-logo">
    <a href="/">Bandca!!</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about" class="header-zyama">Bandca!!とは</a>
    </li>
  </ul>

  <div id="nav-drawer">
  <input id="nav-input" type="checkbox" class="nav-unshown">
  <label id="nav-open" for="nav-input"><span></span></label>
  <label class="nav-unshown" id="nav-close" for="nav-input"></label>
    <div id="nav-content">
      <div class="nav-logo">
        <a href="/fav" >おきにいり</a>
      </div>
    </div>
  </div>

</header>
<div class="about-main">
  <h2>Bandca!!とは</h2>
  <p>
    仮説明あばばばばばっばばばばっばばっばばっばばっばばっばばば、<br>そういやカッコを閉じるキーが効かなくなったんですけど、困ります。
  </p>
  <img class="about-img" src="/liveimg.jpg">
</div>