<header>

  <div class="header-logo">
    <a href="/">Bandca!!</a>
  </div>
  <ul class="header-menus">
    <li>
        <a href="/about">Bandca!!とは</a>
    </li>
  </ul>

    <div id="nav-drawer">
    <input id="nav-input" type="checkbox" class="nav-unshown">
    <label id="nav-open" for="nav-input"><span></span></label>
    <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
            <div class="nav-logo">
              <a href="/fav" >おきにいり</a>
            </div>
    
        </div>
    </div>

</header>

<div class="main top-main">
  <div class="top-message">
    <h2>Bandca!!</h2>
    <p>あのバンドを地元に呼ぼう！</p>
  </div>
</div>